cluster_id={{getv "/cluster/cluster_id"}}
sid={{getv "/host/sid"}}
delete_disc={{range $i, $dir := lsdir  "/deleting-hosts/disc"}}{{$ip := printf "/deleting-hosts/disc/%s/ip" $dir}}{{if $i}},{{end}}rabbit@{{$dir}}{{end}}
delete_ram={{range $i, $dir := lsdir  "/deleting-hosts/ram"}}{{$ip := printf "/deleting-hosts/ram/%s/ip" $dir}}{{if $i}},{{end}}rabbit@{{$dir}}{{end}}
