default_user={{ getv "/env/rabbitmq_default_user" "guest" }}
default_pass={{ getv "/env/rabbitmq_default_pass" "guest" }}
{{- if getvs "/host/role" | filter "(disc|ram)" }}
mkdir -p ${DATA_MOUNTS}/log/rabbitmq
{{- end }}

{{- $myRole := getv "/host/role" }}

flush  /etc/rabbitmq/rabbitmq.conf << RABBITMQ_CONF_EOF
background_gc_enabled = {{ getv "/env/background_gc_enabled" "true" }}
background_gc_target_interval = {{ getv "/env/background_gc_target_interval" "60000" }}
channel_max = {{ getv "/env/channel_max" "10" }}

cluster_formation.peer_discovery_backend = rabbit_peer_discovery_classic_config
{{- $discNodes := join ( getvs "/hosts/disc/*/instance_id") "," }}
{{- $ramNodes := join ( getvs "/hosts/ram/*/instance_id") "," }}
{{- $allNodes := split ( printf "%s%s%s" $discNodes ( and $ramNodes ",") $ramNodes) ","}}
{{- range $i,$node := $allNodes }}
cluster_formation.classic_config.nodes.{{ add $i 1 }} = rabbit@{{ $node }}
{{- end }}
cluster_formation.node_type = {{ getv "/host/role" }}

cluster_keepalive_interval = {{ getv "/env/cluster_keepalive_interval" "10000" }}
cluster_partition_handling = {{ getv "/env/cluster_partition_handling" "pause_minority" }}
collect_statistics = {{ getv "/env/collect_statistics" "none" }}
collect_statistics_interval = {{ getv "/env/collect_statistics_interval" "5000" }}
# disk_free_limit.relative = {{ getv "/env/disk_free_limit_relative" "2.0" }}
disk_free_limit.absolute = {{ getv "/env/disk_free_limit" "50MB" }}
frame_max = {{ getv "/env/frame_max" "131072"}}
handshake_timeout = {{ getv "/env/handshake_timeout" "10000" }}
heartbeat = {{ getv "/env/heartbeat" "60" }}
hipe_compile = {{ getv "/env/hipe_compile" "false" }}
loopback_users.guest = false
num_acceptors.tcp = {{ getv "/env/num_tcp_acceptors" "10" }}
proxy_protocol = {{ getv "/env/proxy_protocol" "false" }}
reverse_dns_lookups = {{ getv "/env/reverse_dns_lookups" "false" }}
tcp_listen_options.backlog = 128
tcp_listen_options.nodelay = true
tcp_listen_options.exit_on_close = false
tcp_listen_options.keepalive = true
tcp_listen_options.send_timeout = 15000
tcp_listen_options.buffer = 196608
tcp_listen_options.sndbuf = 196608
tcp_listen_options.recbuf = 196608
vm_memory_high_watermark.relative = {{ getv "/env/vm_memory_high_watermark" "0.7" }}
# vm_memory_high_watermark.absolute = {{ getv "/env/vvm_memory_high_watermark_absolute" "2G" }}
vm_memory_high_watermark_paging_ratio = {{ getv "/env/vm_memory_high_watermark_paging_ratio" "0.5" }}
log.dir = ${DATA_MOUNTS}/log/rabbitmq/
default_user = $default_user
default_pass = $default_pass
loopback_users = none
default_user_tags.administrator = true
RABBITMQ_CONF_EOF
rabbitmqctl change_password $default_user $default_pass >/dev/null 2>&1||echo
