flush > /etc/rabbitmq/rabbitmq-env.conf << RABBIT_ENV_CONF_EOF

RABBITMQ_NODE_IP_ADDRESS=0.0.0.0
RABBITMQ_NODE_PORT=5672
RABBITMQ_MNESIA_BASE=/data/mnesia
RABBITMQ_LOG_BASE=/data/log
RABBITMQ_CONFIG_FILE=/etc/rabbitmq/rabbitmq
RABBITMQ_MNESIA_DIR=
RABBITMQ_SCHEMA_DIR=/data/schema

RABBIT_ENV_CONF_EOF