
flush /opt/app/bin/envs/instance.env << INSTANCE_ENV_EOF

{{- range $joinN := lsdir "/adding-hosts"  }}
ADDINGHOST="{{ range  getvs (printf "/adding-hosts/%s/*/instance_id" $joinN) }}{{ . }} {{ end }}"
{{- end }}
{{- range $delN := lsdir "/deleting-hosts"  }}
DELETINGHOST="{{ range  getvs (printf "/deleting-hosts/%s/*/instance_id" $delN) }}{{ . }} {{ end }}"
{{- end }}

INSTANCE_ENV_EOF