flush /etc/keepalived/keepalived.conf << KEEPALIVED_EOF
{{- $replicaIPs := split (getv "/cluster/endpoints/reserved_ips/vip/value") "." }}
{{- $myIp := getv "/host/ip" }}
global_defs {
  enable_script_security
  script_user root root
}

vrrp_script check_haproxy {
  script "/usr/bin/pkill -0 haproxy"
  interval 2
  weight 10
}

vrrp_instance HAProxy_HA {
  state BACKUP
  interface eth0
  virtual_router_id {{ index $replicaIPs 3 }}
  priority 100
  advert_int 2
  unicast_src_ip {{ $myIp }}
  unicast_peer {
    {{- range $dir := lsdir "/hosts/haproxy" }}
      {{- $ip := getv (printf "/hosts/haproxy/%s/ip" $dir) }}
      {{- if ne $ip $myIp }}
    {{ $ip }}
      {{- end }}
    {{- end }}
  }
  authentication {
    auth_type PASS
    auth_pass {{ getv "/cluster/cluster_id" }}
  }

  virtual_ipaddress { #set VIP
    {{ getv "/cluster/endpoints/reserved_ips/vip/value" }}/32
  }

  track_script {
    check_haproxy
  }
}

KEEPALIVED_EOF
