cat > /etc/rabbitmq/rabbitmq-env.conf << RABBIT_ENV_CONF_EOF

RABBITMQ_NODE_IP_ADDRESS=0.0.0.0
RABBITMQ_NODE_PORT=5672
RABBITMQ_MNESIA_BASE=/data/rabbitmq/mnesia
RABBITMQ_LOG_BASE=/data/rabbitmq/log
RABBITMQ_CONFIG_FILE=/opt/app/conf/rabbitmq
RABBITMQ_MNESIA_DIR=
RABBITMQ_SCHEMA_DIR=/data/rabbitmq/schema

RABBIT_ENV_CONF_EOF