{
    "name": {{cluster.name}},
    "description": {{cluster.description}},
    "vxnet": {{cluster.vxnet}},
    "multi_zone_policy": "round_robin",
    "nodes": [{
        "role": "disc",
        "container": {
            "type": "kvm",
            "zone": "sh1a",
            "image": "img-zwyuwalp"
        },
        "instance_class": {{cluster.disc.instance_class}},
        "count": {{cluster.disc.count}},
        "cpu": {{cluster.disc.cpu}},
        "memory": {{cluster.disc.memory}},
        "volume": {
            "size": {{cluster.disc.volume_size}},
            "mount_point": "/data",
            "filesystem": "ext4"
        },
        "services": {
            "start": {
                "order": 1,
                "cmd": "appctl start",
                "timeout": 180
            },
            "stop": {
                "order": 2,
                "cmd": "appctl stop"
            },
            "scale_in": {
                "nodes_to_execute_on": 1,
                "pre_check": "appctl preCheckForScaleIn",
                "cmd": "appctl scaleIn",
                "timeout": 90
            },
            "destroy": {
                "order": 2,
                "cmd": "appctl stop"
            },
            "scale_out": {
                "cmd": "appctl scaleOut",
                "timeout": 90
            }
        },
        "advanced_actions": ["scale_horizontal"],
        "vertical_scaling_policy": "sequential",
        "health_check": {
            "enable": true,
            "interval_sec": 60,
            "timeout_sec": 10,
            "action_timeout_sec": 60,
            "healthy_threshold": 2,
            "unhealthy_threshold": 2,
            "check_cmd": "appctl check",
            "action_cmd": "appctl revive"
        },
        "monitor": {
            "enable": true,
            "cmd": "appctl measure",
            "items": {
                "fd_used": {
                    "unit": "count"
                },
                "sockets_used": {
                    "unit": "count"
                },
                "proc_used": {
                    "unit": "count"
                },
                "run_queue": {
                    "unit": "count"
                },
                "mem_used": {
                    "unit": "MB"
                }
            },
            "groups": {
                "Fd Used": ["fd_used"],
                "Sockets Used": ["sockets_used"],
                "Proc Used": ["proc_used"],
                "Run Queue": ["run_queue"],
                "Mem Used": ["mem_used"]
            },
            "display": ["Mem Used", "Fd Used", "Sockets Used", "Proc Used", "Run Queue"],
            "alarm": ["fd_used", "mem_used"]
        }
    }, {
        "role": "ram",
        "container": {
            "type": "kvm",
            "zone": "sh1a",
            "image": "img-zwyuwalp"
        },
        "instance_class": {{cluster.ram.instance_class}},
        "count": {{cluster.ram.count}},
        "cpu": {{cluster.ram.cpu}},
        "memory": {{cluster.ram.memory}},
        "volume": {
            "size": {{cluster.ram.volume_size}},
            "mount_point": "/data",
            "filesystem": "ext4"
        },
        "services": {
            "start": {
                "order": 2,
                "cmd": "appctl start",
                "timeout": 180
            },
            "stop": {
                "order": 1,
                "cmd": "appctl stop"
            },
            "restart": {
                "order": 2,
                "cmd": "appctl restart"
            },
            "destroy": {
                "order": 1,
                "cmd": "appctl stop"
            },
            "scale_out": {
                "cmd": "appctl scaleOut",
                "timeout": 90
            }
        },
        "advanced_actions": ["scale_horizontal"],
        "vertical_scaling_policy": "sequential",
        "health_check": {
            "enable": true,
            "interval_sec": 60,
            "timeout_sec": 10,
            "action_timeout_sec": 30,
            "healthy_threshold": 2,
            "unhealthy_threshold": 2,
            "check_cmd": "appctl check",
            "action_cmd": "appctl revive"
        },
        "monitor": {
            "enable": true,
            "cmd": "appctl measure",
            "items": {
                "fd_used": {
                    "unit": "count"
                },
                "sockets_used": {
                    "unit": "count"
                },
                "proc_used": {
                    "unit": "count"
                },
                "run_queue": {
                    "unit": "count"
                },
                "mem_used": {
                    "unit": "MB"
                }
            },
            "groups": {
                "Fd Used": ["fd_used"],
                "Sockets Used": ["sockets_used"],
                "Proc Used": ["proc_used"],
                "Run Queue": ["run_queue"],
                "Mem Used": ["mem_used"]
            },
            "display": ["Mem Used", "Fd Used", "Sockets Used", "Proc Used", "Run Queue"],
            "alarm": ["fd_used", "mem_used"]
        }
    }, {
        "role": "client",
        "container": {
            "type": "kvm",
            "zone": "sh1a",
            "image": "img-zwyuwalp"
        },
        "instance_class": {{cluster.client.instance_class}},
        "count": {{cluster.client.count}},
        "cpu": {{cluster.client.cpu}},
        "memory": {{cluster.client.memory}},
        "user_access": true,
        "services": {
            "start": {
                "cmd": "appctl start"
            },
            "stop": {
                "cmd": "appctl stop"
            }
        },
        "advanced_actions": ["scale_horizontal"]
    }, {
        "role": "haproxy",
        "container": {
            "type": "lxc",
            "zone": "sh1a",
            "image": "img-zwyuwalp"
        },
        "instance_class": {{cluster.haproxy.instance_class}},
        "count": {{cluster.haproxy.count}},
        "cpu": {{cluster.haproxy.cpu}},
        "memory": {{cluster.haproxy.memory}},
        "services": {
            "start": {
                "order": 3,
                "cmd": "appctl start"
            },
            "stop": {
                "order": 3,
                "cmd": "appctl stop"
            },
            "restart": {
                "order": 3,
                "cmd": "appctl restart"
            }
        },
        "advanced_actions": ["scale_horizontal"],
        "health_check": {
            "enable": true,
            "interval_sec": 60,
            "timeout_sec": 10,
            "action_timeout_sec": 30,
            "healthy_threshold": 2,
            "unhealthy_threshold": 2,
            "check_cmd": "appctl check",
            "action_cmd": "appctl revive"
        }
    }],
    "env": {
        "haproxy_balance_policy": {{env.haproxy_balance_policy}},
        "haproxy_web_port": {{env.haproxy_web_port}},
        "haproxy_username": {{env.haproxy_username}},
        "haproxy_password": {{env.haproxy_password}},
        "num_tcp_acceptors": {{env.num_tcp_acceptors}},
        "handshake_timeout": {{env.handshake_timeout}},
        "reverse_dns_lookups": {{env.reverse_dns_lookups}},
        "vm_memory_high_watermark": {{env.vm_memory_high_watermark}},
        "vm_memory_high_watermark_paging_ratio": {{env.vm_memory_high_watermark_paging_ratio}},
        "disk_free_limit": {{env.disk_free_limit}},
        "frame_max": {{env.frame_max}},
        "channel_max": {{env.channel_max}},
        "heartbeat": {{env.heartbeat}},
        "collect_statistics": {{env.collect_statistics}},
        "collect_statistics_interval": {{env.collect_statistics_interval}},
        "cluster_partition_handling": {{env.cluster_partition_handling}},
        "hipe_compile": {{env.hipe_compile}},
        "cluster_keepalive_interval": {{env.cluster_keepalive_interval}},
        "background_gc_enabled": {{env.background_gc_enabled}},
        "background_gc_target_interval": {{env.background_gc_target_interval}},
        "proxy_protocol": {{env.proxy_protocol}},
        "tracing_user": {{env.tracing_user}},
        "web_console_enabled": {{env.web_console_enabled}},
        "web_console_username": {{env.web_console_username}},
        "web_console_password": {{env.web_console_password}}
    },
    "endpoints": {
        "client": {
            "port": 5672,
            "protocol": "tcp"
        },
        "status": {
            "port": 8100,
            "protocol": "tcp"
        },
        "reserved_ips": {
            "vip": {
                "value": ""
            }
        }
    }
}