mkdir -p ${DATA_MOUNTS}/log/keepalivd/
chmod 777 ${DATA_MOUNTS}/log/keepalivd/
flush /etc/rsyslog.d/49-keepalived.conf << KEEPALIVED_LOG_EOF

if \$programname startswith 'Keepalived' then ${DATA_MOUNTS}/log/keepalivd/keepalived.log
&stop

KEEPALIVED_LOG_EOF
