flush /etc/logrotate.d/keepalived << LOGROTATE_EOF
${DATA_MOUNTS}/log/keepalived/keepalived.log {
    daily
    rotate 20
    missingok
    notifempty
    compress
    delaycompress
    postrotate
        invoke-rc.d rsyslog rotate >/dev/null 2>&1 || true
    endscript
}
LOGROTATE_EOF