{
    "name": {{cluster.name}},
    "description": {{cluster.description}},
    "vxnet": {{cluster.vxnet}},
    "multi_zone_policy": "round_robin",
    "upgrade_policy": [
        "appv-okcfn685",
        "appv-irmdwt3o",
        "appv-jumu1r67",
        "appv-kxe5ezdx",
        "appv-8cimgbsu",
        "appv-s7gt9xid",
        "appv-bzb2d00d",
        "appv-n2qaxy9j",
        "appv-et0mu05f",
        "appv-6wkhvsts"
    ],
    "upgrading_policy": "parallel",
    "nodes": [{
        "role": "disc",
        "container": {
            "type": "kvm",
            "zone": "sh1a",
            "image": "img-xfuy2egp"
        },
        "instance_class": {{cluster.disc.instance_class}},
        "count": {{cluster.disc.count}},
        "cpu": {{cluster.disc.cpu}},
        "memory": {{cluster.disc.memory}},
        "volume": {
            "size": {{cluster.disc.volume_size}},
            "mount_point": "/data",
            "filesystem": "ext4"
        },
        "services": {
            "init": {
                "post_start_service": true,
                "nodes_to_execute_on": 1,
                "cmd": "appctl initCluster"
            },
            "start": {
                "order": 1,
                "cmd": "appctl start"
            },
            "stop": {
                "order": 2,
                "cmd": "appctl stop"
            },
            "restart": {
                "order": 1,
                "cmd": "appctl restart"
            },
            "destroy": {
                "order": 2,
                "cmd": "appctl stop"
            },
            "scale_in": {
                "nodes_to_execute_on": 1,
                "cmd": "appctl scale_in",
                "timeout": 86400
            }
        },
        "advanced_actions": ["scale_horizontal"],
        "vertical_scaling_policy": "sequential",
        "health_check": {
            "enable": true,
            "interval_sec": 60,
            "timeout_sec": 10,
            "action_timeout_sec": 60,
            "healthy_threshold": 2,
            "unhealthy_threshold": 2,
            "check_cmd": "appctl check",
            "action_cmd": "appctl restart"
        },
        "monitor": {
            "enable": true,
            "cmd": "appctl measure",
            "items": {
                "fd_used": {
                    "unit": "count"
                },
                "sockets_used": {
                    "unit": "count"
                },
                "proc_used": {
                    "unit": "count"
                },
                "run_queue": {
                    "unit": "count"
                },
                "mem_used": {
                    "unit": "MB"
                }
            },
            "groups": {
                "Fd Used": ["fd_used"],
                "Sockets Used": ["sockets_used"],
                "Proc Used": ["proc_used"],
                "Run Queue": ["run_queue"],
                "Mem Used": ["mem_used"]
            },
            "display": ["Mem Used", "Fd Used", "Sockets Used", "Proc Used", "Run Queue"],
            "alarm": ["fd_used", "mem_used"]
        }
    }, {
        "role": "ram",
        "container": {
            "type": "kvm",
            "zone": "sh1a",
            "image": "img-xfuy2egp"
        },
        "instance_class": {{cluster.ram.instance_class}},
        "count": {{cluster.ram.count}},
        "cpu": {{cluster.ram.cpu}},
        "memory": {{cluster.ram.memory}},
        "volume": {
            "size": {{cluster.ram.volume_size}},
            "mount_point": "/data",
            "filesystem": "ext4"
        },
        "services": {
            "init": {
                "order": 2,
                "cmd": "appctl initNode"
            },
            "start": {
                "order": 2,
                "cmd": "appctl start"
            },
            "stop": {
                "order": 1,
                "cmd": "appctl stop"
            },
            "restart": {
                "order": 2,
                "cmd": "appctl restart"
            },
            "destroy": {
                "order": 1,
                "cmd": "appctl stop"
            },
            "scale_in": {
                "nodes_to_execute_on": 1,
                "cmd": "appctl scale_in",
                "timeout": 86400
            }
        },
        "advanced_actions": ["scale_horizontal"],
        "vertical_scaling_policy": "sequential",
        "health_check": {
            "enable": true,
            "interval_sec": 60,
            "timeout_sec": 10,
            "action_timeout_sec": 30,
            "healthy_threshold": 2,
            "unhealthy_threshold": 2,
            "check_cmd": "appctl check",
            "action_cmd": "appctl restart"
        },
        "monitor": {
            "enable": true,
            "cmd": "appctl measure",
            "items": {
                "fd_used": {
                    "unit": "count"
                },
                "sockets_used": {
                    "unit": "count"
                },
                "proc_used": {
                    "unit": "count"
                },
                "run_queue": {
                    "unit": "count"
                },
                "mem_used": {
                    "unit": "MB"
                }
            },
            "groups": {
                "Fd Used": ["fd_used"],
                "Sockets Used": ["sockets_used"],
                "Proc Used": ["proc_used"],
                "Run Queue": ["run_queue"],
                "Mem Used": ["mem_used"]
            },
            "display": ["Mem Used", "Fd Used", "Sockets Used", "Proc Used", "Run Queue"],
            "alarm": ["fd_used", "mem_used"]
        }
    }, {
        "role": "client",
        "container": {
            "type": "kvm",
            "zone": "sh1a",
            "image": "img-xfuy2egp"
        },
        "instance_class": {{cluster.client.instance_class}},
        "count": {{cluster.client.count}},
        "cpu": {{cluster.client.cpu}},
        "memory": {{cluster.client.memory}},
        "user_access": true,
        "services": {
            "init": {
                "cmd": "appctl initNode"
            },
            "start": {
                "cmd": "appctl start"
            },
            "stop": {
                "cmd": "appctl stop"
            }
        },
        "advanced_actions": ["scale_horizontal"]
    }, {
        "role": "haproxy",
        "container": {
            "type": "lxc",
            "zone": "sh1a",
            "image": "img-xfuy2egp"
        },
        "instance_class": {{cluster.haproxy.instance_class}},
        "count": {{cluster.haproxy.count}},
        "cpu": {{cluster.haproxy.cpu}},
        "memory": {{cluster.haproxy.memory}},
        "services": {
            "start": {
                "order": 3,
                "cmd": "appctl start"
            },
            "stop": {
                "order": 3,
                "cmd": "appctl stop"
            },
            "restart": {
                "order": 3,
                "cmd": "appctl restart"
            }
        },
        "advanced_actions": ["scale_horizontal"],
        "health_check": {
            "enable": true,
            "interval_sec": 60,
            "timeout_sec": 10,
            "action_timeout_sec": 30,
            "healthy_threshold": 2,
            "unhealthy_threshold": 2,
            "check_cmd": "appctl check",
            "action_cmd": "appctl restart"
        }
    }],
    "env": {
        "haproxy.balance.policy": {{env.haproxy.balance.policy}},
        "haproxy.web.port": {{env.haproxy.web.port}},
        "haproxy.username": {{env.haproxy.username}},
        "haproxy.password": {{env.haproxy.password}},
        "num.tcp.acceptors": {{env.num.tcp.acceptors}},
        "handshake.timeout": {{env.handshake.timeout}},
        "reverse.dns.lookups": {{env.reverse.dns.lookups}},
        "vm.memory.high.watermark": {{env.vm.memory.high.watermark}},
        "vm.memory.high.watermark.paging.ratio": {{env.vm.memory.high.watermark.paging.ratio}},
        "disk.free.limit": {{env.disk.free.limit}},
        "frame.max": {{env.frame.max}},
        "channel.max": {{env.channel.max}},
        "heartbeat": {{env.heartbeat}},
        "collect.statistics": {{env.collect.statistics}},
        "collect_statistics.interval": {{env.collect.statistics.interval}},
        "cluster.partition.handling": {{env.cluster.partition.handling}},
        "hipe.compile": {{env.hipe.compile}},
        "cluster.keepalive.interval": {{env.cluster.keepalive.interval}},
        "background.gc.enabled": {{env.background.gc.enabled}},
        "background.gc.target.interval": {{env.background.gc.target.interval}},
        "proxy.protocol": {{env.proxy.protocol}},
        "tracing.user": {{env.tracing.user}},
        "log.webViewer.enabled": {{env.log.webViewer.enabled}},
        "log.webViewer.username": {{env.log.webViewer.username}},
        "log.webViewer.password": {{env.log.webViewer.password}}
    },
    "endpoints": {
        "client": {
            "port": 5672,
            "protocol": "tcp"
        },
        "reserved_ips": {
            "vip": {
                "value": ""
            }
        }
    }
}