{
    "name": {{cluster.name}},
    "description": {{cluster.description}},
    "vxnet": {{cluster.vxnet}},
    "upgrade_policy": [
            "appv-6wkhvsts",
            "appv-et0mu05f",
            "appv-n2qaxy9j",
            "appv-bzb2d00d",
            "appv-s7gt9xid",
            "appv-8cimgbsu",
            "appv-kxe5ezdx"
    ],
    "nodes": [{
      "role":"disc",
        "container": {
            "type": "kvm",
            "zone": "sh1a",
            "image": "img-fasn9ctm"
        },

        "instance_class": {{cluster.disc.instance_class}},
        "count": {{cluster.disc.count}},
        "cpu": {{cluster.disc.cpu}},
        "memory": {{cluster.disc.memory}},
        "volume": {
            "size": {{cluster.disc.volume_size}},
            "mount_point": "/data",
            "filesystem": "ext4"
        },
        "services": {
          "init": {
             "order": 1,
             "cmd": "/opt/bin/init_disc.sh"
         },
            "start": {
              "order": 1,
                "cmd":"/opt/bin/start_disc.sh"
            },
            "stop": {
              "order": 2,
                "cmd": "/opt/bin/stop.sh"
            },
            "restart": {
              "order": 1,
                "cmd": "/opt/bin/restart.sh"
            },
            "destroy": {
              "order": 2,
                "cmd": "/opt/bin/destroy.sh"
            },
            "scale_in": {
              "nodes_to_execute_on": 1,
                "cmd": "/opt/bin/scale_in.sh",
                "timeout": 86400
            }
        },
        "advanced_actions": ["scale_horizontal"],
        "vertical_scaling_policy": "sequential",
         "health_check": {
             "enable": true,
             "interval_sec": 60,
             "timeout_sec": 10,
             "action_timeout_sec": 30,
             "healthy_threshold": 2,
             "unhealthy_threshold": 2,
             "check_cmd": "/opt/bin/health_check.sh",
             "action_cmd": "/opt/bin/action.sh"
         },
         "monitor": {
               "enable": true,
               "cmd": "opt/bin/get-monitor.sh",
               "items": {
                "fd_used": {
                   "unit": "count"
                 },
                 "sockets_used": {
                     "unit": "count"
                 },
                 "proc_used": {
                     "unit": "count"
                 },
                 "run_queue": {
                     "unit": "count"
                 },
                 "mem_used": {
                     "unit": "MB"
                 }
               },
               "groups": {
                   "Fd Used": ["fd_used"],
                   "Sockets Used": ["sockets_used"],
                   "Proc Used": ["proc_used"],
                   "Run Queue": ["run_queue"],
                   "Mem Used": ["mem_used"]
               },
               "display": ["Mem Used","Fd Used","Sockets Used","Proc Used","Run Queue"],
               "alarm": ["fd_used","mem_used"]
           }
    }, {
      "role":"ram",
        "container": {
            "type": "kvm",
            "zone": "sh1a",
            "image": "img-fasn9ctm"
        },

        "instance_class": {{cluster.ram.instance_class}},
        "count": {{cluster.ram.count}},
        "cpu": {{cluster.ram.cpu}},
        "memory": {{cluster.ram.memory}},
        "volume": {
            "size": {{cluster.ram.volume_size}},
            "mount_point": "/data",
            "filesystem": "ext4"
        },
        "services": {
          "init": {
             "order": 2,
             "cmd": "/opt/bin/init_ram.sh"
         },
            "start": {
              "order": 2,
                "cmd":"/opt/bin/start_ram.sh"
            },
            "stop": {
              "order": 1,
                "cmd": "/opt/bin/stop.sh"
            },
            "restart": {
               "order": 2,
                "cmd": "/opt/bin/restart.sh"
            },
            "destroy": {
                "order": 1,
                "cmd": "/opt/bin/destroy.sh"
            },
            "scale_in": {
                "nodes_to_execute_on": 1,
                "cmd": "/opt/bin/scale_in.sh",
                "timeout": 86400
            }
        },
        "advanced_actions": ["scale_horizontal"],
        "vertical_scaling_policy": "sequential",
         "health_check": {
             "enable": true,
             "interval_sec": 60,
             "timeout_sec": 10,
             "action_timeout_sec": 30,
             "healthy_threshold": 2,
             "unhealthy_threshold": 2,
             "check_cmd": "/opt/bin/health_check.sh",
             "action_cmd": "/opt/bin/action.sh"
         },
         "monitor": {
               "enable": true,
               "cmd": "opt/bin/get-monitor.sh",
               "items": {
                "fd_used": {
                   "unit": "count"
                 },
                 "sockets_used": {
                     "unit": "count"
                 },
                 "proc_used": {
                     "unit": "count"
                 },
                 "run_queue": {
                     "unit": "count"
                 },
                 "mem_used": {
                     "unit": "MB"
                 }
               },
               "groups": {
                   "Fd Used": ["fd_used"],
                   "Sockets Used": ["sockets_used"],
                   "Proc Used": ["proc_used"],
                   "Run Queue": ["run_queue"],
                   "Mem Used": ["mem_used"]
               },
               "display": ["Mem Used","Fd Used","Sockets Used","Proc Used","Run Queue"],
               "alarm": ["fd_used","mem_used"]
           }
    },{
      "role":"client",
        "container": {
            "type": "kvm",
            "zone": "sh1a",
            "image": "img-sy0pwaq5"
        },

        "instance_class": {{cluster.client.instance_class}},
        "count": {{cluster.client.count}},
        "cpu": {{cluster.client.cpu}},
        "memory": {{cluster.client.memory}},
        "user_access": true,
        "services": {
          "init": {
             "cmd": "/opt/bin/init.sh"
         },
            "start": {
                "cmd":"/opt/bin/start.sh"
            },
            "stop": {
                "cmd": "/opt/bin/stop.sh"
            }
        },
        "advanced_actions": ["scale_horizontal"]
    },{
        "role": "haproxy",
        "container": {
            "type": "lxc",
            "zone": "sh1a",
            "image": "img-5e5t5iib"
        },
        "instance_class": {{cluster.haproxy.instance_class}},
        "count": {{cluster.haproxy.count}},
        "cpu": {{cluster.haproxy.cpu}},
        "memory": {{cluster.haproxy.memory}},
        "services": {
              "start": {
                "cmd":"service haproxy start;service keepalived start"
              },
              "stop": {
                  "cmd": "service haproxy stop;service keepalived stop"
              },
              "restart": {
                "cmd": "service haproxy restart;service keepalived restart"
              }
        },
        "advanced_actions": ["scale_horizontal"],
        "health_check": {
            "enable": true,
            "interval_sec": 60,
            "timeout_sec": 10,
            "action_timeout_sec": 30,
            "healthy_threshold": 2,
            "unhealthy_threshold": 2,
            "check_cmd": "service haproxy status >/dev/null  2>&1",
            "action_cmd": "service haproxy restart;service keepalived restart"
        }
    }],
    "env": {
      "haproxy_balance_policy": {{env.haproxy_balance_policy}},
      "haproxy_web_port": {{env.haproxy_web_port}},
      "haproxy_username": {{env.haproxy_username}},
      "haproxy_password": {{env.haproxy_password}},
        "num_tcp_acceptors": {{env.num_tcp_acceptors}},
        "handshake_timeout": {{env.handshake_timeout}},
        "reverse_dns_lookups": {{env.reverse_dns_lookups}},
        "vm_memory_high_watermark": {{env.vm_memory_high_watermark}},
        "vm_memory_high_watermark_paging_ratio": {{env.vm_memory_high_watermark_paging_ratio}},
        "disk_free_limit": {{env.disk_free_limit}},
        "frame_max": {{env.frame_max}},
        "channel_max": {{env.channel_max}},
        "heartbeat": {{env.heartbeat}},
        "collect_statistics": {{env.collect_statistics}},
        "collect_statistics_interval": {{env.collect_statistics_interval}},
        "cluster_partition_handling": {{env.cluster_partition_handling}},
        "hipe_compile": {{env.hipe_compile}},
        "cluster_keepalive_interval": {{env.cluster_keepalive_interval}},
        "background_gc_enabled": {{env.background_gc_enabled}},
        "background_gc_target_interval": {{env.background_gc_target_interval}},
        "proxy_protocol": {{env.proxy_protocol}},
        "tracing_user": {{env.tracing_user}}
    },
    "endpoints": {
        "client": {
            "port": 5672,
            "protocol": "tcp"
        },
      "reserved_ips": {
        "vip": {
            "value":""
        }
      }
    }
}
