#!/usr/bin/env bash

set -eo pipefail

cat > /opt/app/bin/envs/appctl.env << APPCTL_ENV_EOF
MY_IP={{ getv "/host/ip" }}
MY_ROLE={{ getv "/host/role" }}
CLUSTER_ID={{ getv "/cluster/cluster_id" }}
SID={{ getv "/host/sid" "1"}}

{{- $Hosts := getvs "/hosts/disc/*/instance_id" }}
DISC_NODE={{ range $i, $id := $Hosts }}{{ if $i }},{{ end }}{{ $id }}{{ end }}

APPCTL_ENV_EOF

cat > /opt/app/bin/envs/services.env << SERVICES_EOF
{{- $myRole := getv "/host/role" }}
SERVICES="$( echo "
{{- range getvs "/host/role" | filter "(disc|ram)" }}rabbitmq-server/true/tcp:5672,http:15672{{- end}}
{{- if eq $myRole "haproxy"}}haproxy/true/http:5672{{- end}}" | xargs)"
NODE_CTL="rabbitmqCtl"
SERVICES_EOF


myPath="$0"
cleanUp() {
  local rc=$?
  [ "$rc" -eq 0 ] || rm -rf "$myPath" # ensure confd can generate it again next time
  return $rc
}

trap cleanUp EXIT
