
flush > /opt/app/bin/envs/appctl.env << APPCTL_ENV_EOF
MY_IP={{ getv "/host/ip" }}
MY_ROLE={{ getv "/host/role" }}
CLUSTER_ID={{ getv "/cluster/cluster_id" }}
SID={{ getv "/host/sid" "1"}}
MY_ID={{ getv "/host/instance_id"}}
{{- $Hosts := getvs "/hosts/disc/*/instance_id" }}
DISC_NODE={{ range $i, $id := $Hosts }}{{ if $i }},{{ end }}{{ $id }}{{ end }}

APPCTL_ENV_EOF

