#!/usr/bin/env bash

set -eo pipefail
{{- $MY_IP := getv "/host/ip" }}
{{- $CLUSTER_ID := getv "/cluster/cluster_id" }}

cat > /opt/app/bin/envs/appctl.env << APPCTL_ENV_EOF
MY_IP={{ getv "/host/ip" }}
MY_ROLE={{ getv "/host/role" }}
CLUSTER_ID={{ getv "/cluster/cluster_id" }}
SID={{ getv "/host/sid" 1}}

{{- $Hosts := getvs "/hosts/disc/*/instance_id" }}
DISC_NODE={{ range $i, $id := $Hosts }}{{ if $i }},{{ end }}{{ $id }}{{ end }}

APPCTL_ENV_EOF


myPath="$0"
cleanUp() {
  local rc=$?
  [ "$rc" -eq 0 ] || rm -rf "$myPath" # ensure confd can generate it again next time
  return $rc
}

trap cleanUp EXIT
