
cat > /opt/app/bin/envs/services.env << SERVICES_EOF
{{- $myRole := getv "/host/role" }}
SERVICES="$( echo "
{{- if eq $myRole "client" }}rabbitmq-server/false/http:15672{{- end}}
{{- range getvs "/host/role" | filter "(disc|ram)" }}rabbitmq-server/true/tcp:5672,http:15672{{- end}}
{{- if eq $myRole "haproxy"}}
haproxy/true/http:15672
keepalived/true/http:15672
{{- end}}" | xargs)"


{{- range getvs "/host/role" | filter "(disc|ram)" }}NODE_CTL="rabbitmqCtl"{{- end}}
{{- range getvs "/host/role" | filter "(client|haproxy)" }}NODE_CTL="pluginsCtl"{{- end}}

SERVICES_EOF
