mkdir -p ${DATA_MOUNTS}/log/journald/
chmod 755 ${DATA_MOUNTS}/log/journald/
chown syslog:svc ${DATA_MOUNTS}/log/journald/
flush /etc/rsyslog.d/49-journald.conf << JOURNALD_CONFIG_EOF
module(load="imjournal" PersistStateInterval="100") #load imjournal module
module(load="mmjsonparse") #load mmjsonparse module for structured logs

#template(name="CEETemplate" type="string" string="%TIMESTAMP% %HOSTNAME% %syslogtag% @cee: %$!all-json%\n" ) #template for messages

#action(type="mmjsonparse")
#action(type="omfile" file="${DATA_MOUNTS}/log/journald/journald.log" template="CEETemplate")
action(type="omfile" file="${DATA_MOUNTS}/log/journald/journald.log" FileOwner="syslog" FileGroup="svc" FileCreateMode="0640" DirCreateMode="0755")

JOURNALD_CONFIG_EOF
