# systemd unit example
[Unit]
Description=RabbitMQ broker
After=network.target epmd@0.0.0.0.socket
Wants=network.target epmd@0.0.0.0.socket

[Service]
Type=notify
User=root
Group=root
UMask=0027
NotifyAccess=all
TimeoutStartSec=3600

# To override LimitNOFILE, create the following file:
#
# /etc/systemd/system/rabbitmq-server.service.d/limits.conf
#
# with the following content:
#
# [Service]
# LimitNOFILE=infinity

LimitNOFILE=1048576

# The following setting will automatically restart RabbitMQ
# in the event of a failure. systemd service restarts are not a
# replacement for service monitoring. Please see
# http://www.rabbitmq.com/monitoring.html
Restart=on-failure
RestartSec=10
WorkingDirectory=/data
Environment=RABBITMQ_CONF_ENV_FILE=/etc/rabbitmq/rabbitmq-env.conf
Environment=PATH=/usr/local/erlang/bin:/usr/local/wxWidgets/bin/:/usr/local/rabbitmq/sbin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/root/bin:/root/bin
ExecStart=/opt/rabbitmq/current/sbin/rabbitmq-server
ExecStop=/opt/rabbitmq/current/sbin/rabbitmqctl shutdown
SuccessExitStatus=69
# See rabbitmq/rabbitmq-server-release#51

[Install]
WantedBy=multi-user.target