
flush /opt/app/bin/envs/appctl.env << APPCTL_ENV_EOF
MY_IP={{ getv "/host/ip" }}
MY_ROLE={{ getv "/host/role" }}
CLUSTER_ID={{ getv "/cluster/cluster_id" }}
SID={{ getv "/host/sid" "1"}}
MY_ID={{ getv "/host/instance_id" }}
DISC_NODES="$(echo "
{{- range  lsdir "/hosts/disc" }}
{{ getv (printf "/hosts/disc/%s/sid" .) }}/{{ getv (printf "/hosts/disc/%s/instance_id" .) }}/{{ getv (printf "/hosts/disc/%s/ip" .) }}
{{- end }}
" | xargs -n1 | sort -V | xargs)"

{{- range $joinN := lsdir "/adding-hosts"  }}
ADDINGHOST="{{ range  getvs (printf "/adding-hosts/%s/*/instance_id" $joinN) }}{{ . }} {{ end }}"
{{- end }}
{{- range $delN := lsdir "/deleting-hosts"  }}
DELETINGHOST="{{ range  getvs (printf "/deleting-hosts/%s/*/instance_id" $delN) }}{{ . }} {{ end }}"
{{- end }}
APPCTL_ENV_EOF

