
flush /opt/app/bin/envs/instance.env << INSTANCE_ENV_EOF

{{- $discNodes := join ( getvs "/adding-hosts/disc/*/instance_id") " " }}
{{- $ramNodes := join ( getvs "/adding-hosts/ram/*/instance_id") " " }}
JOINING_MQ_NODES="{{ $discNodes }} {{ $ramNodes }}"

{{- $discNodes := join ( getvs "/deleting-hosts/disc/*/instance_id") " " }}
{{- $ramNodes := join ( getvs "/deleting-hosts/ram/*/instance_id") " " }}
LEAVING_MQ_NODES="{{ $discNodes }} {{ $ramNodes }}"

INSTANCE_ENV_EOF