flush /opt/app/bin/envs/nodectl.env << NODE_ENV_EOF
{{- if getvs "/host/role" | filter "(disc|ram)" }}
SERVICES="\$SERVICES 
rabbitmq-server/true/tcp:5672,http:15672"
caddy/true/http:80
NODE_CTL="rabbitmq-node"
{{- else if getvs "/host/role" | filter "haproxy" }}
SERVICES="\$SERVICES \$(echo "
haproxy/true/tcp:5672,http:15672,tcp:61613,tcp:1883,http:8100
keepalived/true/
" | xargs)"
NODE_CTL="proxy-node"
{{- else if getvs "/host/role" | filter "client" }}
NODE_CTL="client-node"
{{- end}}
NODE_ENV_EOF
