flush /opt/app/bin/envs/nodectl.env << NODE_ENV_EOF
{{- if getvs "/host/role" | filter "(disc|ram)" }}
SERVICES="\$SERVICES 
rabbitmq-server/true/tcp:5672,http:15672
caddy/{{ getv "/env/log.webViewer.enabled" "false" }}/http:80"
NODE_CTL="rabbitmq-node"
DATA_MOUNTS="/data"
{{- else if getvs "/host/role" | filter "haproxy" }}
SERVICES="\$SERVICES \$(echo "
{{- $HPPORT := getv "/env/haproxy.web.port" "8100" }}
haproxy/true/tcp:5672,http:15672,tcp:61613,tcp:1883,http:{{ $HPPORT }}
keepalived/true/
" | xargs)"
DATA_MOUNTS=""
NODE_CTL="proxy-node"
{{- else if getvs "/host/role" | filter "client" }}
SERVICES="\$SERVICES  ssh/true/tcp:22"
NODE_CTL="client-node"
DATA_MOUNTS=""
{{- end }}
NODE_ENV_EOF
